<mat-toolbar>Mi perfil</mat-toolbar>

<router-outlet></router-outlet>

<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Bienvenido: {{usuario}}</mat-card-title>
    <mat-card-subtitle> </mat-card-subtitle>
  </mat-card-header>

  <img mat-card-image [src]="imagenData" *ngIf="imagenEstado"  style="width: 200px !important;margin-left: 20px;"/>

  <mat-card-content>
    

    <mat-list>
      <h3 mat-subheader>Roles</h3>
      <mat-list-item *ngFor="let rol of roles">
        <h4 mat-line>{{rol}}</h4>
      </mat-list-item>
       
    </mat-list>
    


  </mat-card-content>

</mat-card>
